Source: conman
Section: unknown
Priority: optional
Maintainer: Yao-Po Wang <blue119@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/conman.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/conman.git;a=summary

Package: conman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: conman-doc
Architecture: all
Description: documentation for conman
 <insert long description, indented with spaces>
